In [1]:
import pandas as pd
file= 'JC-202312-citibike-tripdata.csv'
cb2024 = pd.read_csv(file)
cb2024

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58675,7E862701EE7A6A03,classic_bike,2023-12-20 17:55:41,2023-12-20 18:00:10,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748720,-74.040487,40.754530,-74.026580,casual
58676,DFAF91AB91BE25DB,classic_bike,2023-12-13 14:36:43,2023-12-13 14:42:31,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748767,-74.040470,40.754530,-74.026580,member
58677,AEE7B49E6EDFAE6F,classic_bike,2023-12-18 16:40:00,2023-12-18 16:45:45,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744291,-74.034404,40.754530,-74.026580,member
58678,A38E98956AD72EFB,classic_bike,2023-12-02 13:42:51,2023-12-02 13:50:42,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744398,-74.034501,40.754530,-74.026580,member
58679,F16E0B969D877368,classic_bike,2023-12-19 16:30:13,2023-12-19 16:36:54,6 St & Grand St,HB302,Clinton St & 7 St,HB303,40.744398,-74.034501,40.745420,-74.033320,member

In [2]:
cb2024.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [3]:
cb2024.info

<bound method DataFrame.info of                 ride_id rideable_type           started_at  \
0      DAE3C13A5FAAB089  classic_bike  2023-12-29 16:02:20
1      1EC6BE46ACF2DE11  classic_bike  2023-12-06 01:58:32
2      105CA439B9CBF57C  classic_bike  2023-12-06 20:15:11
3      DC1C46F6090FA1DB  classic_bike  2023-12-09 13:54:19
4      04EAEAAD6D32A664  classic_bike  2023-12-02 17:30:34
...                 ...           ...                  ...
58675  7E862701EE7A6A03  classic_bike  2023-12-20 17:55:41
58676  DFAF91AB91BE25DB  classic_bike  2023-12-13 14:36:43
58677  AEE7B49E6EDFAE6F  classic_bike  2023-12-18 16:40:00
58678  A38E98956AD72EFB  classic_bike  2023-12-02 13:42:51
58679  F16E0B969D877368  classic_bike  2023-12-19 16:30:13

                  ended_at start_station_name start_station_id  \
0      2023-12-29 16:10:17       Brunswick St            JC023
1      2023-12-06 02:04:48       Brunswick St            JC023
2      2023-12-06 20:21:02       Brunswick St            JC023
3      2023-12-09 13:56:48       Brunswick St            JC023
4      2023-12-02 17:37:26       Brunswick St            JC023
...                    ...                ...              ...
58675  2023-12-20 18:00:10   Heights Elevator            JC059
58676  2023-12-13 14:42:31   Heights Elevator            JC059
58677  2023-12-18 16:45:45    6 St & Grand St            HB302
58678  2023-12-02 13:50:42    6 St & Grand St            HB302
58679  2023-12-19 16:36:54    6 St & Grand St            HB302

              end_station_name end_station_id  start_lat  start_lng  \
0      Communipaw & Berry Lane          JC084  40.724016 -74.050550
1                  Oakland Ave          JC022  40.724135 -74.050686
2                  Oakland Ave          JC022  40.723990 -74.050639
3                 Manila & 1st          JC082  40.723983 -74.050732
4               Riverview Park          JC057  40.724011 -74.050686
...                        ...            ...        ...        ...
58675    Bloomfield St & 15 St          HB203  40.748720 -74.040487
58676    Bloomfield St & 15 St          HB203  40.748767 -74.040470
58677    Bloomfield St & 15 St          HB203  40.744291 -74.034404
58678    Bloomfield St & 15 St          HB203  40.744398 -74.034501
58679        Clinton St & 7 St          HB303  40.744398 -74.034501

         end_lat    end_lng member_casual
0      40.714358 -74.066611        member
1      40.737604 -74.052478        casual
2      40.737604 -74.052478        member
3      40.721651 -74.042884        casual
4      40.744319 -74.043991        member
...          ...        ...           ...
58675  40.754530 -74.026580        casual
58676  40.754530 -74.026580        member
58677  40.754530 -74.026580        member
58678  40.754530 -74.026580        member
58679  40.745420 -74.033320        member

[58680 rows x 13 columns]>

In [5]:
cb2024['end_lng'].unique()
# looking for values that Tableau is not recognizing

array([-74.06661093, -74.0524783 , -74.04288411, -74.0439909 ,
       -74.03434396, -74.04595256, -74.0625    , -74.04241204,
       -74.03097   , -74.03329163, -74.05      , -74.06      ,
       -74.04969156, -74.03852552, -74.02886541, -74.064437  ,
       -74.07195926, -73.9503    , -74.03308198, -74.03586477,
       -74.03450087, -74.0404433 , -74.00277668, -74.05727148,
       -73.97087984, -74.04630454, -74.04879034, -74.06285852,
       -74.04696375, -74.034234  , -74.02435273, -74.03223306,
       -74.0836394 , -74.04772662, -73.96316   , -74.03511107,
       -74.03768331, -74.03891444, -74.05038893, -74.0354826 ,
       -74.03841153, -74.03030455, -74.00247214, -73.99103969,
       -74.02778059, -74.0337589 , -74.0789    , -74.07      ,
       -74.04      ,          nan, -74.03      , -74.03571   ,
       -74.0316    , -74.04004097, -74.07106072, -74.05950308,
       -74.032453  , -74.071455  , -73.986923  , -74.04309   ,
       -74.04281706, -74.02658   , -74.04557168, -74.02698867,
       -74.0506564 , -74.0641943 , -74.02912706, -74.066921  ,
       -74.0557013 , -74.03332   , -74.042521  , -74.07840595,
       -74.0321082 , -74.03805095, -74.05099   , -74.04996783,
       -74.0274062 , -74.05178863, -74.09      , -74.1       ,
       -74.05044364, -73.979635  , -74.03690413, -74.06762213,
       -74.07126188, -74.03037697, -74.03797701, -74.02819902,
       -74.02715027, -73.98      , -73.99011   , -73.98169333,
       -74.0393    , -74.04166371, -74.08670068, -74.08084273,
       -74.0575736 , -73.978326  , -74.000271  , -73.98859651,
       -73.96434123, -74.00731853, -74.000939  , -74.0335519 ,
       -74.08      , -73.93067   , -73.99949601, -73.99724901,
       -74.14      , -74.01      , -74.0364857 , -74.043845  ,
       -73.98990025, -74.02402014, -73.99994661, -74.0083158 ,
       -74.04424731, -74.01361706, -73.999573  , -73.990993  ,
       -74.01322069, -73.99379025, -73.99565293, -73.98917958,
       -74.00522389, -74.00559738, -74.00711384, -73.99201065,
       -74.00483091, -73.97402311, -73.99520785, -74.010065  ,
       -73.98160636, -74.01658354, -73.985649  , -73.9488    ,
       -73.9900262 , -73.98486793, -73.98629487, -73.98175925,
       -74.008119  , -73.98067966, -73.99301222, -74.00674436,
       -73.98471572, -73.98949474, -73.9997144 , -74.02      ,
       -73.9951019 , -74.00681753, -73.97809267, -73.999376  ,
       -73.992573  , -73.97513   , -73.98336183, -73.96930575,
       -74.005141  , -73.98093045, -73.99415556, -74.00655091,
       -73.98192338, -74.008591  , -74.00666661, -73.98541675,
       -74.00925   , -74.00965965, -73.98196846, -73.98797393,
       -73.92602   , -73.97729203, -73.9865    , -74.0104723 ,
       -74.01030064, -74.01587963, -74.00887308, -74.00473   ,
       -73.9653039 , -73.97634151, -74.00562789, -73.99005   ,
       -73.98517977, -73.968896  , -74.009447  , -73.988154  ,
       -73.9816324 , -73.97449784, -73.97032517])

In [6]:
cb2024['start_lng'].unique()

array([-74.0505501 , -74.050686  , -74.05063903, ..., -74.04048681,
       -74.04047012, -74.03440404])

In [9]:
len(cb2024['start_lng'].unique()), len(cb2024['end_lng'].unique())
# counts

(27347, 187)

In [11]:
len(cb2024['start_lat'].unique()), len(cb2024['end_lat'].unique())

(27034, 183)

In [13]:
cb2024['end_lat'].unique()

array([40.71435837, 40.7376037 , 40.72165072, 40.7443187 , 40.71636596,
       40.72333159, 40.73367   , 40.716615  , 40.73736   , 40.75188939,
       40.74      , 40.71      , 40.71539114, 40.71241882, 40.73721535,
       40.73100889, 40.72572614, 40.67428   , 40.73915273, 40.74994325,
       40.74439783, 40.74871595, 40.76087502, 40.74590997, 40.6729679 ,
       40.72152515, 40.72568548, 40.71346383, 40.73520838, 40.7192517 ,
       40.75296063, 40.74265933, 40.7182113 , 40.71848892, 40.64958   ,
       40.74225798, 40.71517768, 40.7183552 , 40.72601173, 40.7242941 ,
       40.74790721, 40.73593758, 40.71939226, 40.73972989, 40.73698222,
       40.7272235 , 40.71113   , 40.73      ,         nan, 40.73743   ,
       40.75409   , 40.74313994, 40.72755147, 40.73496102, 40.74816121,
       40.72210379, 40.734232  , 40.72      , 40.71941   , 40.71458404,
       40.75453   , 40.72528911, 40.74313283, 40.7241765 , 40.7236589 ,
       40.73606766, 40.737711  , 40.7112423 , 40.74542   , 40.740802  ,
       40.7246051 , 40.7287448 , 40.7211236 , 40.71942   , 40.72163014,
       40.7408139 , 40.74267714, 40.69      , 40.73478582, 40.752049  ,
       40.73981372, 40.72533993, 40.7192822 , 40.75186748, 40.74641265,
       40.74598388, 40.74998491, 40.75      , 40.732647  , 40.76695317,
       40.73879   , 40.73755127, 40.70657545, 40.70919832, 40.7311689 ,
       40.750756  , 40.735238  , 40.75929124, 40.7969347 , 40.70706456,
       40.735918  , 40.7141454 , 40.64621   , 40.76      , 40.72362738,
       40.79      , 40.7       , 40.7127742 , 40.7177325 , 40.71427487,
       40.75060414, 40.73781509, 40.7419816 , 40.72759597, 40.70463334,
       40.717411  , 40.72769   , 40.71754834, 40.72743423, 40.72456089,
       40.76360468, 40.71979209, 40.70641076, 40.73291553, 40.69103637,
       40.73535398, 40.7597108 , 40.74965268, 40.721319  , 40.74069318,
       40.7153379 , 40.673746  , 40.64507   , 40.75640548, 40.7601774 ,
       40.7459849 , 40.72854745, 40.739323  , 40.72966729, 40.76269882,
       40.73172428, 40.7427518 , 40.69241829, 40.75676475, 40.72615605,
       40.74334935, 40.74172351, 40.75377337, 40.768333  , 40.75863   ,
       40.76228826, 40.75763228, 40.745686  , 40.77966809, 40.74173969,
       40.70960089, 40.7652654 , 40.728846  , 40.71911552, 40.6704922 ,
       40.71703   , 40.72405549, 40.7700301 , 40.73536706, 40.66591   ,
       40.74949855, 40.677027  , 40.71221958, 40.72019521, 40.71759895,
       40.70717936, 40.72431   , 40.7103613 , 40.76590936, 40.71450451,
       40.77237   , 40.72066442, 40.693261  , 40.711066  , 40.754818  ,
       40.75206231, 40.74322681, 40.75323098])

In [18]:
cb2024.describe()

          start_lat     start_lng       end_lat       end_lng
count  58680.000000  58680.000000  58638.000000  58638.000000
mean      40.732804    -74.040155     40.732712    -74.039773
std        0.012044      0.012062      0.012173      0.012153
min       40.706575    -74.086826     40.645070    -74.140000
25%       40.721630    -74.045572     40.721525    -74.044247
50%       40.735938    -74.037683     40.735938    -74.036904
75%       40.742618    -74.030970     40.742659    -74.030970
max       40.779868    -74.000990     40.796935    -73.926020

In [23]:
#https://stackoverflow.com/questions/27754891/check-if-single-cell-value-is-nan-in-pandas# 
cb2024[cb2024.isnull().any(1)]

C:\Users\Sch\AppData\Local\Temp\ipykernel_18208\3478883945.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  cb2024[cb2024.isnull().any(1)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
65,8E26A1B1266BE7D4,classic_bike,2023-12-09 18:53:34,2023-12-10 01:06:58,Pershing Field,JC024,NaN,NaN,40.742407,-74.052029,40.74,-74.05,casual
66,0ED7A1364FAA7491,classic_bike,2023-12-08 12:50:17,2023-12-08 17:10:32,Pershing Field,JC024,NaN,NaN,40.742401,-74.051972,40.71,-74.06,casual
500,C2232AF6A99B91F6,classic_bike,2023-12-13 09:56:14,2023-12-13 10:58:40,Pershing Field,JC024,NaN,NaN,40.742379,-74.052094,40.73,-74.06,member
501,BBE29655E4F56F16,classic_bike,2023-12-11 15:31:13,2023-12-11 16:53:02,Pershing Field,JC024,NaN,NaN,40.742435,-74.051920,40.74,-74.07,casual
502,7468D4CCC89D9F79,classic_bike,2023-12-11 12:51:54,2023-12-11 13:58:50,Brunswick St,JC023,NaN,NaN,40.724139,-74.050719,40.73,-74.06,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53388,8C1705634913B6E7,classic_bike,2023-12-18 14:12:25,2023-12-19 15:12:20,Hoboken Ave at Monmouth St,JC105,NaN,NaN,40.735208,-74.046964,NaN,NaN,casual
55558,EF861287AFC29122,classic_bike,2023-12-13 07:42:49,2023-12-13 08:47:42,Hoboken Ave at Monmouth St,JC105,NaN,NaN,40.735286,-74.046814,40.73,-74.03,member
55559,5C46CC1B233A9EE8,classic_bike,2023-12-08 08:13:25,2023-12-08 09:30:59,Union St,JC051,NaN,NaN,40.718015,-74.083314,40.73,-74.03,member
57308,F9508E6CFB511D70,classic_bike,2023-12-10 12:18:10,2023-12-10 13:36:55,Madison St & 1 St,HB402,NaN,NaN,40.738697,-74.039263,40.75,-74.03,casual
57570,B9D3FDD2931A78D3,classic_bike,2023-12-27 05:21:37,2023-12-27 06:19:47,Madison St & 1 St,HB402,NaN,NaN,40.738822,-74.039195,40.74,-74.03,member

In [24]:
len(cb2024[cb2024.isnull().any(1)])

C:\Users\Sch\AppData\Local\Temp\ipykernel_18208\3931663721.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  len(cb2024[cb2024.isnull().any(1)])

242